@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    font-family: 'Urbanist';
}

.body {
    margin: 0 auto;
    width: 1440px;
}

header {
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
    height: 121px;
}

main {
    display: flex;
    justify-content: space-between;
}

.margin-y {
    margin: auto 0;
}

.logo {
    height: 50px;
    width: 250px;
}

.header-right {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 54px;
}

p {
    color: #555671;
    font-weight: 400;
    font-size: 18px;
}

.main-block {
    margin-left: 110px;
}

button {
    margin-top: 50px;
    background-color: white;
    border: 0;
    width: 255px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
}

.contact {
    color: white;
    background-color: #FF7549;
    text-align: center;
}

.projects {
    margin-left: 20px;
    border: 2px solid #181A3F;
}